<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Picture Perfect Artistry by Ivon</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <meta name="generator" content="Bootply" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <link href="/css/styles.css" rel="stylesheet">
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script src="/js/scripts.js"></script>
      <meta name="p:domain_verify" content="2cce9458cb805a63dee2d301fea85422"/>
    </head>
    <body>
      <!-- Wrap all page content here -->
      <div id="wrap">


        <header class="masthead">

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="http://i.huffpost.com/gen/1736679/thumbs/o-AURORA-BOREALIS-ICELAND-facebook.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h2>Film</h2>
              <p></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://klickps.com/images/klick.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h2>Professional Photoshoots</h2>
              <p></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://s.tbdress.com/images/blog/Userup/376280/Picture/Hawaii%20Wedding%20Chapels.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h2>Weddings</h2>
              <p></p>
            </div>
          </div>
        </div>
      </div><!-- /.carousel-inner -->
      <div class="logo">Picture Perfect Artistry<br>by Ivon</div>
      <!-- Controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </a>
    </div>
    <!-- /.carousel -->

  </header>


  <!-- Fixed navbar -->
  <div class="navbar navbar-custom navbar-inverse navbar-static-top" id="nav">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav nav-justified">
          <li><a href="#section1">Home</a></li>
          <li><a href="#section2">Profile</a></li>
          <li class="dropdown">
            <a href="#section3" class="dropdown-toggle" data-toggle="dropdown">Projects <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Academic</a></li>
              <li><a href="#">Commercial</a></li>
              <li><a href="#">Financial</a></li>
              <li><a href="#">Interior Design</a></li>
              <li><a href="#">Medical</a></li>
              <li><a href="#">Religious</a></li>
            </ul>
          </li>
          <li><a href="#section4">Location</a></li>
          <li><a href="#section5">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container -->
  </div><!--/.navbar -->

  <!-- Begin page content -->
  <div class="divider" id="section1"></div>

  <div class="container">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="page-header text-center">
        <h1>Recommendations</h1>
      </div>

      <p class="lead text-center">
        "Ivon did an amazing job on my wedding makeup! She was thoughtful and worked with me to find the right look that made me feel glowing and beautiful. Thank you for your hard work. I feel so lucky to have had you a part of the day!"<br>Whitney R.<br>January 17, 2015
      </p>
      <p class="lead text-center">
        "Thank You Ivon Hernandez Garcia!! You are an amazing makeup artist and A wonderful person!!"<br> Stephanie Y.<br>
        July 30, 2014
      </p>
      <p class="lead text-center">
        "I knew I've seen your name before somewhere! I love Chantel Beam's photography and your makeup work for her is awesome!!! Glad to have met/work with you this weekend! Hope I get to work with you again soon!"<br>Melanie L.<br>
        June 11, 2013
      </p>

      <hr>

      <div class="divider"></div>

    </div>
  </div>

  <div class="divider"></div>

  <section class="bg-1">
    <div class="col-sm-6 col-sm-offset-3 text-center"></div>
  </section>

  <div class="divider" id="section2"></div>

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h1>Profile</h1>

      <hr>

      <p>
        I am a licensed Esthetician with a passion for Makeup Artistry!  I attended The Academy for Salon Professionals in Santa Clara.  I've also received top of the line training in Dermalogica from the Dermalogica Institute in San Francisco.
      </p>
      <!-- <p>
        We have been involved in a wide range of building projects, including college facilities, banks, schools, nursing homes, office buildings, churches, industrial buildings and major urban development projects.
      </p>
      <p>
        The various projects have included new construction, renovation and adaptive re-use as a way of providing new space for the various clients. Tessier Associates provides in-house programming, master planning, architectural design, construction documentation, project administration and interior design services. Sustainable design, as appropriate for each client, is incorporated in cost effective ways to benefit the long term value of the buildings created by the firm.
      </p>
      <p>
        Together with selected consultants, The Firm provides complete professional services including landscape architecture, structural engineering, electrical and mechanical engineering and site planning.
      </p> -->

      <hr>

      <div class="divider"></div>

    </div><!--/col-->
  </div><!--/container-->

  <div class="divider"></div>

  <section class="bg-3">
    <div class="col-sm-6 col-sm-offset-3 text-center"><h2 style="padding:20px;background-color:rgba(5,5,5,.8)">Clients &amp; Partners</h2></div>
  </section>

  <div class="divider" id="section3"></div>

  <div class="bg-4">
    <div class="container">
      <div class="row">
       <div class="col-sm-4 col-xs-6">

        <div class="panel panel-default">
          <div class="panel-thumbnail"><a href="#" title="BFF Club Short Film"><img src="//fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash2/v/t1.0-9/526799_520782534607651_127925377_n.jpg?oh=1cffc9a42ce555dec3a9ee35911dcb3e&oe=556F3E76&__gda__=1432450199_78d7abb0bed13f19a6c96d9bd817f4ff" class="img-responsive"></a></div>
          <div class="panel-body">
            <p>BFF Club Short Film</p>
            <p></p>

          </div>
        </div><!--/panel-->
      </div><!--/col-->

      <div class="col-sm-4 col-xs-6">

        <div class="panel panel-default">
          <div class="panel-thumbnail"><a href="#" title="Olympian Mariya Koroleva"><img src="//fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-prn2/v/t1.0-9/549157_510835765602328_1459476124_n.jpg?oh=3850c262b126d621c2435f37fe1c233e&oe=558A346A&__gda__=1431802940_e70feadebdc9b7d1acaf022a908a90e7" class="img-responsive"></a></div>
          <div class="panel-body">
            <p>Olympian Mariya Koroleva</p>
            <p></p>

          </div>
        </div><!--/panel-->
      </div><!--/col-->

      <div class="col-sm-4 col-xs-6">

        <div class="panel panel-default">
          <div class="panel-thumbnail"><a href="#" title="Vianett Bridal Store"><img src="//scontent-lga.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/420243_375923762426863_1172087548_n.jpg?oh=5819fe79a2116ce3816ad1337f2052b0&oe=554EDD21" class="img-responsive"></a></div>
          <div class="panel-body">
            <p>Vianett Bridal Store</p>
            <p></p>

          </div>
        </div><!--/panel-->

      </div><!--/col-->

      <div class="col-sm-4 col-xs-6">

        <div class="panel panel-default">
          <div class="panel-thumbnail"><a href="#" title="Sunflower Dances"><img src="//fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-frc3/v/t1.0-9/6942_520781257941112_2061800482_n.jpg?oh=44803f4bc53d89d3811129981c13dc20&oe=5557F6A5&__gda__=1432522086_22db3791defdce7b5e60878d65698292" class="img-responsive"></a></div>
          <div class="panel-body">
            <p>Sunflower Dances</p>
            <p></p>

          </div>
        </div><!--/panel-->

      </div><!--/col-->

      <div class="col-sm-4 col-xs-6">

        <div class="panel panel-default">
          <div class="panel-thumbnail"><a href="#" title="Edie Sedgwick photo shoot"><img src="//fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/149485_432570926762146_1339062415_n.jpg?oh=35f15201922f6a0c6e725067b3956d33&oe=556C275C&__gda__=1431931349_8ed99e730e28ab93b9635d8d15e0ce1c" class="img-responsive"></a></div>
          <div class="panel-body">
            <p>Edie Sedgwick photo shoot</p>
            <p></p>

          </div>
        </div><!--/panel-->

      </div><!--/col-->

      <div class="col-sm-4 col-xs-6">

        <div class="panel panel-default">
          <div class="panel-thumbnail"><a href="#" title="Weddings"><img src="//scontent-lga.xx.fbcdn.net/hphotos-frc3/v/t1.0-9/944212_625621217457115_265600282_n.jpg?oh=26e8f111ca175a7214cda4b7959ab7db&oe=554DCE14" class="img-responsive"></a></div>
          <div class="panel-body">
            <p>Weddings</p>
            <p></p>

          </div>
        </div><!--/panel-->

      </div><!--/col-->

    </div><!--/row-->
  </div><!--/container-->
</div>

<div class="divider" id="section4"></div>

<div class="row">
  <div class="col-md-8 col-md-offset-1">
  </div>
</div>

<div class="row">

  <div class="col-sm-10 col-sm-offset-1">
    <h1>Location</h1>
  </div>

  <div id="map-canvas"></div>

  <hr>

  <div class="col-sm-8"></div>
  <div class="col-sm-3 pull-right">

    <address>
      Picture Perfect Artistry by Ivon<br>
      <span id="map-input">
        Sunnyvale, CA 94085</span><br>
        Leave me a voicemail:<br>
        <object type="application/x-shockwave-flash" data="https://clients4.google.com/voice/embed/webCallButton" width="230" height="85"><param name="movie" value="https://clients4.google.com/voice/embed/webCallButton" /><param name="wmode" value="transparent" /><param name="FlashVars" value="id=0770f459f6d0667f9749b5c22ceea28c549abf9b&style=0" /></object>
      </address>

    </div>

  </div><!--/row-->

  <div class="divider" id="section5"></div>

  <div class="row">

    <hr>

    <div class="col-sm-9 col-sm-offset-1">

      <div class="row form-group">
        <div class="col-md-12">
          <h1>Contact Us</h1>
        </div>

        <form id="ajax-contact" method="post" action="/">
          <div class="row form-group">
            <div class="col-xs-5">
              <label for="name">Name:</label>
              <input type="text" id="name" name="name" class="form-control" placeholder="Your Name" required>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-xs-5">
              <label for="tel">Number:</label>
              <input type="text" id="phone" name="phone" class="form-control" placeholder="415-888-8888"  required>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-xs-5">
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" class="form-control" placeholder="Your Email"  required>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-xs-10">
              <label for="message">Message:</label>
              <textarea id="message" name="message" class="form-control" placeholder="Your Message" required></textarea>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-xs-10">
              <button id="submit_btn" type="submit" class="btn btn-default pull-right">Send</button>
            </div>
          </div>
        </form>

      </div>

    </div>

  </div><!--/row-->

  <div class="container">
    <div class="col-sm-8 col-sm-offset-2 text-center">

      <ul class="list-inline center-block">
        <li><a href="http://facebook.com/ivonhernandezgarcia1" target="_blank"><img src="/assets/soc_fb.png"></a></li>
        <li><a href="https://twitter.com/picprfectbyivon" target="_blank"><img src="/assets/soc_tw.png"></a></li>
        <li><a href="https://plus.google.com/116457184508702826964" rel="publisher" target="_blank"><img src="/assets/soc_gplus.png"></a></li>
        <li><a href="https://www.pinterest.com/picperfectivon/" target="_blank"><img src="/assets/soc_pin.png"></a></li>
      </ul>

    </div><!--/col-->
  </div><!--/container-->

</div><!--/wrap-->

<div id="footer">
  <div class="container">
    <p class="text-muted">Copyright ©2015 Picture Perfect Artistry by Ivon | Made with <span style="color:red"><3</span> by <a href="http://lymanwong.github.io/" id="me"><span style="color:#777">Lyman Wong<span></a></p>
  </div>
</div>

<ul class="nav pull-right scroll-top">
  <li><a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up" aria-hidden="true"></i></a></li>
</ul>


<div class="modal" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal">×</button>
        <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body">
        <div id="modalCarousel" class="carousel">

          <div class="carousel-inner">

          </div>

          <a class="carousel-control left" href="#modaCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
          <a class="carousel-control right" href="#modalCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>

        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- script references -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script><link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="//maps.googleapis.com/maps/api/js?sensor=false&extension=.js&output=embed"></script>
<script src="js/scripts.js"></script>
</body>
</html>
